/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- particles.js container ---- */

#slider{
  background-color: #041b28;
  background-image: url("https://actinium.org/images/backgrounds/background-acm-slider.jpg");
}
