::selection {
    background: #389bca !important;
    color: #FFF;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background: #004b70;
}
::-webkit-scrollbar-track {
    background: #333;
}


h2 {
	margin-bottom: 10px;
}

.white-text {
  color: #ffffff;
}

.bg-gray {
	background-color: #ffffff;
	/* background-color: #f9f9f9; */
}

.card-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-shadow:hover {
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}

.hidden {
	display:none;
}

.center .heading-block:after, .heading-block.center:after, .heading-block.title-center:after {
	border-top: 2px solid #fff;
}

.button-primary { background-color: #7AA238; }
.button-3d.button-primary:hover,
.button-reveal.button-primary:hover,
.button-border.button-primary:hover,
.button-border.button-primary.button-fill:before { background-color: #7AA238 !important; }

.button-border.button-primary {
	color: #7AA238;
	border-color: #7AA238;
}

.bg-stats-price {
	background: #40c0cb;
	background: -moz-linear-gradient(-45deg, #40c0cb 0%, #36a3ad 100%);
	background: -webkit-linear-gradient(-45deg, #40c0cb 0%,#36a3ad 100%);
	background: linear-gradient(135deg, #40c0cb 0%,#36a3ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c0cb', endColorstr='#36a3ad',GradientType=1 );
}

.bg-stats-fiatprice {
	background: #59ba41;
	background: -moz-linear-gradient(-45deg, #59ba41 0%, #50a73a 100%);
	background: -webkit-linear-gradient(-45deg, #59ba41 0%,#50a73a 100%);
	background: linear-gradient(135deg, #59ba41 0%,#50a73a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ba41', endColorstr='#50a73a',GradientType=1 );
}

.bg-stats-marketcap {
	background: #eb9c4d;
	background: -moz-linear-gradient(-45deg, #eb9c4d 0%, #d38c45 100%);
	background: -webkit-linear-gradient(-45deg, #eb9c4d 0%,#d38c45 100%);
	background: linear-gradient(135deg, #eb9c4d 0%,#d38c45 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9c4d', endColorstr='#d38c45',GradientType=1 );
}

.bg-stats-supply {
	background: #1265a8;
	background: -moz-linear-gradient(-45deg, #1265a8 0%, #105b97 100%);
	background: -webkit-linear-gradient(-45deg, #1265a8 0%,#105b97 100%);
	background: linear-gradient(135deg, #1265a8 0%,#105b97 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1265a8', endColorstr='#105b97',GradientType=1 );
}

.bg-stats-hashrate {
	background: #c02942;
	background: -moz-linear-gradient(-45deg, #c02942 0%, #ad253b 100%);
	background: -webkit-linear-gradient(-45deg, #c02942 0%,#ad253b 100%);
	background: linear-gradient(135deg, #c02942 0%,#ad253b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c02942', endColorstr='#ad253b',GradientType=1 );
}

.bg-about {
	background: #f1f1f1;
	background: -moz-linear-gradient(-45deg, #f1f1f1 0%, #ffffff 100%);
	background: -webkit-linear-gradient(-45deg, #f1f1f1 0%,#ffffff 100%);
	background: linear-gradient(135deg, #f1f1f1 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=1 );
}

.bg-wallet {
	background: #004b70;
	background: -moz-linear-gradient(-45deg, #004b70 0%, #389bca 100%);
	background: -webkit-linear-gradient(-45deg, #004b70 0%,#389bca 100%);
	background: linear-gradient(135deg, #004b70 0%,#389bca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b70', endColorstr='#389bca',GradientType=1 );
}

.bg-team {
	background: #ffffff;
	background: -moz-linear-gradient(45deg, #ffffff 0%, #f1f1f1 100%);
	background: -webkit-linear-gradient(45deg, #ffffff 0%,#f1f1f1 100%);
	background: linear-gradient(45deg, #ffffff 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=1 );
}

.bg-corp-grad {
  background: #389bca;
  background: -moz-linear-gradient(-45deg, #389bca 0%, #004b70 100%);
  background: -webkit-linear-gradient(-45deg, #389bca 0%,#004b70 100%);
  background: linear-gradient(135deg, #389bca 0%,#004b70 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#389bca', endColorstr='#004b70',GradientType=1 );
}

.bg-corp-grad-body {
  background: #3f3f3e;
  background: -moz-linear-gradient(-45deg, #3f3f3e 0%, #2e2d2c 100%);
  background: -webkit-linear-gradient(-45deg, #3f3f3e 0%,#2e2d2c 100%);
  background: linear-gradient(135deg, #3f3f3e 0%,#2e2d2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3e', endColorstr='#2e2d2c',GradientType=1 );
}

.bg-code {
	padding: 5px;
  background-color: #f1f1f1;
}

.border-grey {
	border-color: #dadada !important;
}

.feature-box.fbox-border .fbox-icon {
	border-color: #dadada !important;
}

div.fbox-icon.border-grey {
	color: #525251 !important;
}

.bgicon-sm {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 100px;
	color: rgba(0,0,0,0.1);
}

.col-padding-sm { padding: 30px; }

.block-stats-height {
 min-height: 150px;
}

.border-6px {
	border-radius: 6px;
}

.bg-animate-corporate {
	background: linear-gradient(135deg, #004c6f, #7aa238);
background-size: 800% 800%;

-webkit-animation: background-gradient-anim 21s ease infinite;
-moz-animation: background-gradient-anim 21s ease infinite;
-o-animation: background-gradient-anim 21s ease infinite;
animation: background-gradient-anim 21s ease infinite;
}
@-webkit-keyframes background-gradient-anim {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@-moz-keyframes background-gradient-anim {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@-o-keyframes background-gradient-anim {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@keyframes background-gradient-anim {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}

.bg-standard-gray {
	background-color: #f9f9f9;
}

.counter.counter-small {
    font-size: 22px;
}
body:not(.device-touch) .social-logo-links a {
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.social-logo-links a { opacity: 0.5; }
.social-logo-links a:hover { opacity: 1; }

.bgcustomchart {
  background: linear-gradient(90deg, #ff0000, #67ff00, #ff0000, #67ff00, #ff0000, #67ff00, #ff0000);
background-size: 300px 300px;

-webkit-animation: BgExampleChart 2s infinite;
-moz-animation: BgExampleChart 2s infinite;
-o-animation: BgExampleChart 2s infinite;
animation: BgExampleChart 2s infinite;
}

@-webkit-keyframes BgExampleChart {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}
@-moz-keyframes BgExampleChart {
  0%{background-position:0% 0%}
  100%{background-position:100% 100%}
}
@-o-keyframes BgExampleChart {
  0%{background-position:0% 0%}
  100%{background-position:100% 100%}
}
@keyframes BgExampleChart {
  0%{background-position:0% 0%}
  100%{background-position:100% 100%}
}
